<div class="social">
  <h3>Share the post</h3>
  <ul>
    <li class="hacker news"><a href="https://news.ycombinator.com/submitlink?u={{ page.url | prepend: site.url | cgi_escape }}&t={{ page.title | cgi_escape }}"><i class="h sign icon"></i></a></li>
    <li class="twitter"><a href="https://twitter.com/share?url={{ page.url | prepend: site.url | cgi_escape }}&text={{ page.title | cgi_escape }}"><i class="twitter sign icon"></i></a></li>
    <li class="facebook"><a href="https://facebook.com/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}&t={{ page.title | cgi_escape }}"><i class="facebook sign icon"></i></a></li>
    <li class="google plus"><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | cgi_escape }}"><i class="google plus sign icon"></i></a></li>
    <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | cgi_escape }}&title={{ page.title | cgi_escape }}"><i class="linkedin sign icon"></i></a></li>
  </ul>
</div>
