@import "font.scss";

::selection {
  text-shadow: none;
  background-color: green;
  color: #EEEEEE;
}

html,
body {
  font-family: "Merriweather", "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","DejaVu Sans","Open Sans","Verdana","Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  font-size: 14px;
  background: #F5F5F5;
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  height: 100%;
  color: #555555;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

iframe {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
}

a, object, embed {
  outline: 0;
}

a {
  text-decoration: none;
  color: #008CDD;
}

a:hover {
  text-decoration: underline;
  color: rgba(50, 130, 42, 1);
}

img {
  max-width: 100%;
  overflow: hidden;
}

p code {
  font-family: monospace;
  font-size: 10px;
  background: #EEEEEE;
  padding: 4px;
}

.layout.header {
  box-sizing: border-box;
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 48px 16px;

  .root.link {
    display: block;
    text-decoration: none;
    color: #2E3B40;

    &:hover {
      color: rgba(50, 130, 42, 1);
    }

    .author.avatar {
      width: 128px;
      height: 128px;
      border-radius: 64px;
      display: inline-block;
    }

    h1 {
      font-size: 36px;
    }
  }

  p {
    color: #19272D;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 4px;

    a {
      text-decoration: none;
      color: #19272D;

      &:hover {
        text-decoration: underline;
        color: rgba(50, 130, 42, 1);
      }
    }
  }

  .social.links {
    margin-top: 32px;

    a {
      margin: 8px;
    }

    a i {
      display: inline-block;
      text-decoration: none;
      color: #000000;
      font-size: 22px;
      margin: 0;

      &:hover {
        color: rgba(50, 130, 42, 1);
      }
    }
  }

  .shou.tv.link {
    display: inline-block;
    margin-top: 32px;

    img {
      width: 64px;
      height: 64px;
    }
  }
}

.layout.container {
  margin-left: 320px;
  height: 100%;
}

.posts.list {
  box-sizing: border-box;
  background: #FFFFFF;
  border-left: 1px solid #E2E2E2;
  margin: 0;
  padding: 48px 64px 64px;
  min-height: 100%;

  .post.item {
    list-style: none;
    position: relative;
    margin-bottom: 16px;
    padding: 8px 0;

    span {
      position: absolute;
      white-space: nowrap;
      top: 8px;
      right: 0;
      color: rgba(128, 128, 128, 0.64);
      font-size: 12px;
    }

    a {
      color: #000000;

      &:visited {
        color: #777777;
      }

      &:hover {
        color: rgba(50, 130, 42, 1);
      }
    }
  }
}

.post.block {
  box-sizing: border-box;
  width: 800px;
  max-width: 100%;
  min-height: 100%;
  padding: 48px 64px 128px;
  background: #FFFFFF;
  position: relative;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;

  .header {
    margin-bottom: 32px;

    h1 {
      margin: 0 0 16px;
      font-size: 28px;
      color: #000000;

      a {
        text-decoration: none;
        color: #000000;

        &:hover {
          color: rgba(50, 130, 42, 1);
        }
      }
    }
  }

  .content {
    p {
      line-height: 1.9;
      margin: 15px 0px;
    }

    ol, ul {
      line-height: 1.75;
      margin: 25px 0px;
      padding: 0px;
      counter-reset: listitem;

      li {
        margin: 15px 0px;
        list-style: outside none none;
        position: relative;
        padding-left: 32px;
      }
    }

    ol li:before {
      font-family: monospace;
      counter-increment: listitem;
      content: counter(listitem, decimal);
      background: none repeat scroll 0% 0% #CCCCCC;
      color: #FFFFFF;
      font-size: 8px;
      font-weight: bolder;
      line-height: 16px;
      text-align: center;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 3px;
    }

    ul li:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: none repeat scroll 0% 0% #CCCCCC;
      border-radius: 50%;
      left: 0px;
      top: 6px;
    }

    h2 {
      margin-top: 32px;
    }

    .highlight pre {
      padding: 6px 8px;
      line-height: 1.4em;
      overflow-x: auto;
    }
  }

  .social {
    margin-top: 48px;

    ul {
      margin: 16px 0 0 -5px;
      padding: 0;
    }

    li {
      list-style: outside none none;
      display: inline-block;
      font-size: 32px;
      margin-right: 16px;

      a {
        text-decoration: none;

        i {
          margin: 0;
        }
      }
    }

    .hacker.news a {
      color: #FF6600;

      &:hover {
        color: #FF3300;
      }
    }

    .twitter a {
      color: #55ACEE;

      &:hover {
        color: #00AAFF;
      }
    }

    .facebook a {
      color: #3B558C;

      &:hover {
        color: #2B659C;
      }
    }

    .google.plus a {
      color: #CE352C;

      &:hover {
        color: #DF352C;
      }
    }

    .linkedin a {
      color: #0077B5;
    }
  }
}

@media only screen and (max-width : 1024px) {
  .layout.header {
    padding: 32px 16px;
  }

  .posts.list {
    padding: 32px 32px 64px;

    .post.item {
      span {
        position: relative;
        display: block;
      }
    }
  }

  .post.block {
    padding: 32px 32px 64px;
  }
}

@media only screen and (max-width : 768px) {
  .layout.header {
    width: 100%;
    position: relative;
    padding: 12px 8px;

    .root.link {
      .author.avatar {
        display: none;
      }

      h1 {
        margin: 12px;
        font-size: 32px;
      }
    }

    p, .shou.tv.link {
      display: none;
    }

    .social.links {
      margin: 12px;

      a i {
        font-size: 20px;
      }
    }
  }

  .layout.container {
    margin-left: 0;
    border-top: 1px solid #E2E2E2;
  }

  .posts.list {
    padding: 32px 32px 64px;
    border: 0 none;

    .post.item {
      span {
        position: absolute;
        display: inline;
      }
    }
  }

  .post.block {
    padding: 32px 32px 64px;
    border: 0 none;
  }
}

@media only screen and (max-width : 640px) {
  .posts.list {
    .post.item {
      span {
        position: relative;
        display: block;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .posts.list {
    padding: 24px 16px 48px;
  }

  .post.block {
    padding: 24px 16px 48px;

    .social li {
      margin-right: 8px;
    }
  }
}
