<!DOCTYPE html>
<html class="layout">

  {% include head.html %}

  <body>

    <header class="layout header">
      <a href="/" class="root link">
        <img src="/images/avatar.jpg" width="256" height="256" class="author avatar" />
        <h1>{{ site.author.full_name }}</h1>
      </a>
      <p>Huster  </p>
      <p>major:opto-electronic  minor: business administration</p>
      <p>hcna network challenge </p>
      <p>hcnp r&s -ing</p>
      <div class="social links">
        <a href="https://twitter.com/{{ site.author.twitter }}"><i class="circular twitter icon"></i></a>
        <a href="https://github.com/{{ site.author.github }}"><i class="circular github icon"></i></a>
        <a href="mailto:{{ site.author.email }}"><i class="circular mail icon"></i></a>
        <a href="/feed"><i class="circular rss icon"></i></a>
      </div>
     
    </header>

    <section class="layout container">
      {{ content }}
    </section>

  </body>
</html>
